<!DOCTYPE html><html class=''>
<head><script src='//assets.codepen.io/assets/editor/live/console_runner-ba402f0a8d1d2ce5a72889b81a71a979.js'></script><script src='//assets.codepen.io/assets/editor/live/events_runner-902c66a0175801ad4cdf661b3208a97b.js'></script><script src='//assets.codepen.io/assets/editor/live/css_live_reload_init-bad5f8d322020126e7b4287d497c7efe.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/anon/pen/vGdwoq" />
<script src="https://rawgit.com/aframevr/aframe/master/dist/aframe.js"></script>
<script src="https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js"></script>


<style class="cp-pen-styles"></style></head><body>
<script>
AFRAME.registerComponent('meshline', {
  schema: {
    color: { default: '#000' },
    lineWidth: { default: 10 },
    path: {
      default: [
        { x: -0.5, y: 0, z: 0 },
        { x: 0.5, y: 0, z: 0 }
      ],
      // Deserialize path in the form of comma-separated vec3s: `0 0 0, 1 1 1, 2 0 3`.
      parse: function (value) {
        return value.split(',').map(AFRAME.utils.coordinates.parse);
      },
      // Serialize array of vec3s in case someone does setAttribute('line', 'path', [...]).
      stringify: function (data) {
        return data.map(AFRAME.utils.coordinates.stringify).join(',');
      }
    }
  },
  
  init: function () {
    this.resolution = new THREE.Vector2 ( window.innerWidth, window.innerHeight ) ;
    //this.resolution = new THREE.Vector2 (1, 21) ;
    
    var sceneEl = this.el.sceneEl;
    sceneEl.addEventListener( 'render-target-loaded', this.do_update.bind(this) );
    sceneEl.addEventListener( 'render-target-loaded', this.addlisteners.bind(this) );
  
    
  /*
    if (sceneEl.hasLoaded) {
  
      console.log('has loaded');
      this.do_update(); //never happens ?
  
    } else {
  
      sceneEl.addEventListener('render-target-loaded', this.do_update.bind(this));
  
      }
  */
  },
  
  addlisteners: function () {
  
    var canvas = this.el.sceneEl.canvas;
  
    // canvas does not fire resize events, need window
    window.addEventListener( 'resize', this.do_update.bind (this) );
    
    //console.log( canvas );
    //this.do_update() ;
  
  },
  
  do_update: function () {
  
    var canvas = this.el.sceneEl.canvas;
    this.resolution.set( canvas.width,  canvas.height );
    console.log( this.resolution );
    this.update();

  },
  
  update: function () {
    //cannot use canvas here because it is not created yet at init time
    console.log("canvas res:");
    console.log(this.resolution);
    var material = new THREE.MeshLineMaterial({
      color: new THREE.Color(this.data.color),
      resolution: this.resolution,
      sizeAttenuation: false,
      lineWidth: this.data.lineWidth,
      //near: 0.1,
      //far: 1000
    });
  
    var geometry = new THREE.Geometry();
    
    this.data.path.forEach(function (vec3) {
      geometry.vertices.push(
        new THREE.Vector3(vec3.x, vec3.y, vec3.z)
      );
    });
    var  line = new THREE.MeshLine();
    line.setGeometry( geometry );
    this.el.setObject3D('mesh', new THREE.Mesh(line.geometry, material));
  },
  
  remove: function () {
    this.el.removeObject3D('mesh');
  }
});
</script> 

<a-scene> 
  <a-assets>
    <a-mixin id="red" meshline="lineWidth: 30; color: #E20049"></a-mixin>
  </a-assets>
  
  <a-entity geometry="primitive: circle; radius: 10; segments: 64" material="color: #F79F24" position="0 0 -12"></a-entity>
  
  <a-entity id="happy" position="0 2 -10">
    <a-entity mixin="red" meshline="path: -1 1 0, -1 0.5 0, -1 0 0"></a-entity>
    <a-entity mixin="red" meshline="path: 1 1 0, 1 0.5 0, 1 0 0"></a-entity>
    <a-entity mixin="red" meshline="lineWidth: 20; path: -2 -1 0, 0 -2 0, 2 -1"></a-entity> 
  </a-entity>                                                            
  <a-sky color="#FFEED0"></a-sky>
</a-scene>

</body></html><!DOCTYPE html><html class=''>
<head><script src='//assets.codepen.io/assets/editor/live/console_runner-ba402f0a8d1d2ce5a72889b81a71a979.js'></script><script src='//assets.codepen.io/assets/editor/live/events_runner-902c66a0175801ad4cdf661b3208a97b.js'></script><script src='//assets.codepen.io/assets/editor/live/css_live_reload_init-bad5f8d322020126e7b4287d497c7efe.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/anon/pen/vGdwoq" />
<script src="https://rawgit.com/aframevr/aframe/master/dist/aframe.js"></script>
<script src="https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js"></script>


<style class="cp-pen-styles"></style></head><body>
<script>
AFRAME.registerComponent('meshline', {
  schema: {
    color: { default: '#000' },
    lineWidth: { default: 10 },
    path: {
      default: [
        { x: -0.5, y: 0, z: 0 },
        { x: 0.5, y: 0, z: 0 }
      ],
      // Deserialize path in the form of comma-separated vec3s: `0 0 0, 1 1 1, 2 0 3`.
      parse: function (value) {
        return value.split(',').map(AFRAME.utils.coordinates.parse);
      },
      // Serialize array of vec3s in case someone does setAttribute('line', 'path', [...]).
      stringify: function (data) {
        return data.map(AFRAME.utils.coordinates.stringify).join(',');
      }
    }
  },
  
  init: function () {
    this.resolution = new THREE.Vector2 ( window.innerWidth, window.innerHeight ) ;
    //this.resolution = new THREE.Vector2 (1, 21) ;
    
    var sceneEl = this.el.sceneEl;
    sceneEl.addEventListener( 'render-target-loaded', this.do_update.bind(this) );
    sceneEl.addEventListener( 'render-target-loaded', this.addlisteners.bind(this) );
  
    
  /*
    if (sceneEl.hasLoaded) {
  
      console.log('has loaded');
      this.do_update(); //never happens ?
  
    } else {
  
      sceneEl.addEventListener('render-target-loaded', this.do_update.bind(this));
  
      }
  */
  },
  
  addlisteners: function () {
  
    var canvas = this.el.sceneEl.canvas;
  
    // canvas does not fire resize events, need window
    window.addEventListener( 'resize', this.do_update.bind (this) );
    
    //console.log( canvas );
    //this.do_update() ;
  
  },
  
  do_update: function () {
  
    var canvas = this.el.sceneEl.canvas;
    this.resolution.set( canvas.width,  canvas.height );
    console.log( this.resolution );
    this.update();

  },
  
  update: function () {
    //cannot use canvas here because it is not created yet at init time
    console.log("canvas res:");
    console.log(this.resolution);
    var material = new THREE.MeshLineMaterial({
      color: new THREE.Color(this.data.color),
      resolution: this.resolution,
      sizeAttenuation: false,
      lineWidth: this.data.lineWidth,
      //near: 0.1,
      //far: 1000
    });
  
    var geometry = new THREE.Geometry();
    
    this.data.path.forEach(function (vec3) {
      geometry.vertices.push(
        new THREE.Vector3(vec3.x, vec3.y, vec3.z)
      );
    });
    var  line = new THREE.MeshLine();
    line.setGeometry( geometry );
    this.el.setObject3D('mesh', new THREE.Mesh(line.geometry, material));
  },
  
  remove: function () {
    this.el.removeObject3D('mesh');
  }
});
</script> <!DOCTYPE html><html class=''>
<head><script src='//assets.codepen.io/assets/editor/live/console_runner-ba402f0a8d1d2ce5a72889b81a71a979.js'></script><script src='//assets.codepen.io/assets/editor/live/events_runner-902c66a0175801ad4cdf661b3208a97b.js'></script><script src='//assets.codepen.io/assets/editor/live/css_live_reload_init-bad5f8d322020126e7b4287d497c7efe.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/anon/pen/vGdwoq" />
<script src="https://rawgit.com/aframevr/aframe/master/dist/aframe.js"></script>
<script src="https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js"></script>


<style class="cp-pen-styles"></style></head><body>
<script>
AFRAME.registerComponent('meshline', {
  schema: {
    color: { default: '#000' },
    lineWidth: { default: 10 },
    path: {
      default: [
        { x: -0.5, y: 0, z: 0 },
        { x: 0.5, y: 0, z: 0 }
      ],
      // Deserialize path in the form of comma-separated vec3s: `0 0 0, 1 1 1, 2 0 3`.
      parse: function (value) {
        return value.split(',').map(AFRAME.utils.coordinates.parse);
      },
      // Serialize array of vec3s in case someone does setAttribute('line', 'path', [...]).
      stringify: function (data) {
        return data.map(AFRAME.utils.coordinates.stringify).join(',');
      }
    }
  },
  
  init: function () {
    this.resolution = new THREE.Vector2 ( window.innerWidth, window.innerHeight ) ;
    //this.resolution = new THREE.Vector2 (1, 21) ;
    
    var sceneEl = this.el.sceneEl;
    sceneEl.addEventListener( 'render-target-loaded', this.do_update.bind(this) );
    sceneEl.addEventListener( 'render-target-loaded', this.addlisteners.bind(this) );
  
    
  /*
    if (sceneEl.hasLoaded) {
  
      console.log('has loaded');
      this.do_update(); //never happens ?
  
    } else {
  
      sceneEl.addEventListener('render-target-loaded', this.do_update.bind(this));
  
      }
  */
  },
  
  addlisteners: function () {
  
    var canvas = this.el.sceneEl.canvas;
  
    // canvas does not fire resize events, need window
    window.addEventListener( 'resize', this.do_update.bind (this) );
    
    //console.log( canvas );
    //this.do_update() ;
  
  },
  
  do_update: function () {
  
    var canvas = this.el.sceneEl.canvas;
    this.resolution.set( canvas.width,  canvas.height );
    console.log( this.resolution );
    this.update();

  },
  
  update: function () {
    //cannot use canvas here because it is not created yet at init time
    console.log("canvas res:");
    console.log(this.resolution);
    var material = new THREE.MeshLineMaterial({
      color: new THREE.Color(this.data.color),
      resolution: this.resolution,
      sizeAttenuation: false,
      lineWidth: this.data.lineWidth,
      //near: 0.1,
      //far: 1000
    });
  
    var geometry = new THREE.Geometry();
    
    this.data.path.forEach(function (vec3) {
      geometry.vertices.push(
        new THREE.Vector3(vec3.x, vec3.y, vec3.z)
      );
    });
    var  line = new THREE.MeshLine();
    line.setGeometry( geometry );
    this.el.setObject3D('mesh', new THREE.Mesh(line.geometry, material));
  },
  
  remove: function () {
    this.el.removeObject3D('mesh');
  }
});
</script> 

<a-scene> 
  <a-assets>
    <a-mixin id="red" meshline="lineWidth: 30; color: #E20049"></a-mixin>
  </a-assets>
  
  <a-entity geometry="primitive: circle; radius: 10; segments: 64" material="color: #F79F24" position="0 0 -12"></a-entity>
  
  <a-entity id="happy" position="0 2 -10">
    <a-entity mixin="red" meshline="path: -1 1 0, -1 0.5 0, -1 0 0"></a-entity>
    <a-entity mixin="red" meshline="path: 1 1 0, 1 0.5 0, 1 0 0"></a-entity>
    <a-entity mixin="red" meshline="lineWidth: 20; path: -2 -1 0, 0 -2 0, 2 -1"></a-entity> 
  </a-entity>                                                            
  <a-sky color="#FFEED0"></a-sky>
</a-scene>

</body></html>

<a-scene> 
  <a-assets>
    <a-mixin id="red" meshline="lineWidth: 30; color: #E20049"></a-mixin>
  </a-assets>
  
  <a-entity geometry="primitive: circle; radius: 10; segments: 64" material="color: #F79F24" position="0 0 -12"></a-entity>
  
  <a-entity id="happy" position="0 2 -10">
    <a-entity mixin="red" meshline="path: -1 1 0, -1 0.5 0, -1 0 0"></a-entity>
    <a-entity mixin="red" meshline="path: 1 1 0, 1 0.5 0, 1 0 0"></a-entity>
    <a-entity mixin="red" meshline="lineWidth: 20; path: -2 -1 0, 0 -2 0, 2 -1"></a-entity> 
  </a-entity>                                                            
  <a-sky color="#FFEED0"></a-sky>
</a-scene>

</body></html>
