<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, SRF! • A-Frame</title>
    <meta name="description" content="Hello, SRF! • A-Frame">
    <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
    <script src="https://rawgit.com/andreasplesch/aframe-meshline-component/master/dist/aframe-meshline-component.min.js"></script>
  </head>
  <body>
  <script>
  //srf component
  //if object3d.geometry : project to geocentric
  //if geoposition: project geoposition to geocentric, geoposition separate component
  //  which adjust position, rotation, scale; do not touch geometry
  //if geocenter (is geotransform): project geocenter to geocentric, separate component
  //  which adjusts position, rotation, scale; do project geomtry
  // or ..
  // instead of separate components, type: geoposition|geotransform|geocoord, geocenter: long lat elev
  // and set rotation/matrix accordingly.
  AFRAME.registerComponent('srf', {
  schema: {
    type: { default: 'geocoord' },
    geocenter: { type: 'vec3' },
    epsg: { default: 3857 }
    }
  ,
  
  init: function () {
    //this.resolution = new THREE.Vector2 ( window.innerWidth, window.innerHeight ) ;
    //this.resolution = new THREE.Vector2 (1, 21) ;
    
    var el = this.el;
    el.addEventListener( 'loaded', this.do_update.bind(this) );
    //sceneEl.addEventListener( 'render-target-loaded', this.addlisteners.bind(this) );
    this._geoGeometry = {};
    
  },
  
  addlisteners: function () {
  
    //var canvas = this.el.sceneEl.canvas;
  
    // canvas does not fire resize events, need window
    //window.addEventListener( 'resize', this.do_update.bind (this) );
    
    //console.log( canvas );
    //this.do_update() ;
  
  },
  
  do_update: function () {
  
    //entity completely loaded
    var o3Ds = this.el.object3DMap;
    //iterate over map to find geometries
    //primitves probably have BufferGeometry
    
    var g = o3Ds.mesh.geometry;
    this._geoGeometry = g.clone();
    if (g.type === 'BufferGeometry') {
      var geom = new THREE.Geometry();
      geom = geom.fromBufferGeometry(g);
      o3Ds.mesh.geometry = g = geom;
    }
    g.vertices = this.epsgToGC(g.vertices, this.data.epsg);
    
    //
    g.VerticesNeedUpdate = true;
    g.computeFaceNormals();
    g.computeVertexNormals();
    g.computeBoundingSphere();
    //var canvas = this.el.sceneEl.canvas;
    //this.resolution.set( canvas.width,  canvas.height );
    //console.log( this.resolution );
    //this.update();

  },
  
  epsgToGC: function (vertices, epsg) {
                var A = 6378137;
                var eccentricity = 298.257223563;
                var A2 = A*A;
                var F = 1.0/eccentricity;
                var C = A*(1.0-F);
                var C2 = C*C;
                var C2oA2 = C2/A2;
                var Eps2 = F*(2.0-F);
                //var Eps25 = 0.25*Eps2;
                var radiansPerDegree = 0.0174532925199432957692;
                var slat, slat2, clat, source_lat, source_lon, Rn, RnPh
                var gc_vtc = [];
      gc_vtc = vertices.map(function(vertex) {
                source_lat = radiansPerDegree * vertex.y;
                source_lon = radiansPerDegree * vertex.x;
                slat = Math.sin(source_lat);
                slat2 = slat*slat;
                clat = Math.cos(source_lat);
                Rn = A / Math.sqrt(1.0 - Eps2 * slat2);
                RnPh = Rn + vertex.z;
      var gc = new THREE.Vector3(
        RnPh * clat * Math.cos(source_lon),
        RnPh * clat * Math.sin(source_lon),
        (C2oA2 * Rn + vertex.z) * slat
        );
      return gc;
    });
    return gc_vtc;
  },
  
  update: function () {
    //cannot use canvas here because it is not created yet at init time
    /*
    console.log("canvas res:");
    console.log(this.resolution);
    var material = new THREE.MeshLineMaterial({
      color: new THREE.Color(this.data.color),
      resolution: this.resolution,
      sizeAttenuation: false,
      lineWidth: this.data.lineWidth,
      //near: 0.1,
      //far: 1000
      
    });
  
    var geometry = new THREE.Geometry();
    
    this.data.path.forEach(function (vec3) {
      geometry.vertices.push(
        new THREE.Vector3(vec3.x, vec3.y, vec3.z)
      );
    });
    var  line = new THREE.MeshLine();
    var  widthFn = new Function ('p', 'return ' + this.data.lineWidthStyler);
    line.setGeometry( geometry, widthFn );
    this.el.setObject3D('mesh', new THREE.Mesh(line.geometry, material));
    */
  },
  
  remove: function () {
    this.el.removeObject3D('mesh');
  }
});

  </script>
    <a-scene>
      <a-entity light="type: directional; color: #FFF; intensity: 0.8" position="-1 1 1"></a-entity>
      <a-entity light="type: directional; color: #FFF; intensity: 0.8" position="1 1 1"></a-entity>
      <a-entity rotation='0 90 0' position='10000000 0 0'>
        
          <a-entity camera='far: 30000000; near: 3000' look-controls wasd-controls='acceleration:40000000'  ></a-entity>
      
      </a-entity>
      
      <a-entity id='simpleEarth' position='0 0 0' geometry='primitive: sphere; radius: 6370000' material='color: blue; opacity: 0.8'></a-entity>
      <a-entity id='latlongbox' geometry='primitive: box; width: 10; depth: 1000000; height: 20' material='color: yellow' srf></a-entity>
      <a-entity id='graticule' meshline='lineWidth: 1; path: 0 90 0, 0 80 0, 0 70 0, 0 60 0, 0 50 0; color: black' srf></a-entity>
      <!--a-entity geometry='primitive: box' srf='epsg: 3587, center: -117 40 0, UpToY: true'></a-entity-->
      
    </a-scene>
  </body>
</html>
