<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, SRF! • A-Frame</title>
    <meta name="description" content="Hello, SRF! • A-Frame">
    <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
    
  </head>
  <body>
  <script>
  //srf component
  //if object3d.geometry : project to geocentric
  //if geoposition: project geoposition to geocentric, geoposition separate component
  //  which adjust position, rotation, scale; do not touch geometry
  //if geocenter (is geotransform): project geocenter to geocentric, separate component
  //  which adjusts position, rotation, scale; do project geomtry
  // or ..
  // instead of separate components, type: geoposition|geotransform|geocoord, geocenter: long lat elev
  // and set rotation/matrix accordingly.
  AFRAME.registerComponent('srf', {
  schema: {
    type: { default: 'geocoord' },
    geocenter: { default: 0 0 0 },
    epsg: { default: 3857 }
    }
  },
  
  init: function () {
    //this.resolution = new THREE.Vector2 ( window.innerWidth, window.innerHeight ) ;
    //this.resolution = new THREE.Vector2 (1, 21) ;
    
    var el = this.el;
    el.addEventListener( 'loaded', this.do_update.bind(this) );
    //sceneEl.addEventListener( 'render-target-loaded', this.addlisteners.bind(this) );
    this._geoGeometry = {};
    
  },
  
  addlisteners: function () {
  
    //var canvas = this.el.sceneEl.canvas;
  
    // canvas does not fire resize events, need window
    //window.addEventListener( 'resize', this.do_update.bind (this) );
    
    //console.log( canvas );
    //this.do_update() ;
  
  },
  
  do_update: function () {
  
    //entity completely loaded
    var object3D = this.el.object3D;
    //iterate over map to find geometries
    //primitves probably have BufferGeometry
    
    this._geoGeometry = object3D.Mesh.Geometry.clone();
    var canvas = this.el.sceneEl.canvas;
    this.resolution.set( canvas.width,  canvas.height );
    console.log( this.resolution );
    this.update();

  },
  
  update: function () {
    //cannot use canvas here because it is not created yet at init time
    console.log("canvas res:");
    console.log(this.resolution);
    var material = new THREE.MeshLineMaterial({
      color: new THREE.Color(this.data.color),
      resolution: this.resolution,
      sizeAttenuation: false,
      lineWidth: this.data.lineWidth,
      //near: 0.1,
      //far: 1000
    });
  
    var geometry = new THREE.Geometry();
    
    this.data.path.forEach(function (vec3) {
      geometry.vertices.push(
        new THREE.Vector3(vec3.x, vec3.y, vec3.z)
      );
    });
    var  line = new THREE.MeshLine();
    var  widthFn = new Function ('p', 'return ' + this.data.lineWidthStyler);
    line.setGeometry( geometry, widthFn );
    this.el.setObject3D('mesh', new THREE.Mesh(line.geometry, material));
  },
  
  remove: function () {
    this.el.removeObject3D('mesh');
  }
});

  </script>
    <a-scene>
      <a-entity light="type: directional; color: #FFF; intensity: 0.5" position="-1 1 0"></a-entity>
      <a-entity position='0 0 10000000' >
        <a-entity camera='far: 30000000; near: 3000' wasd-controls='acceleration:10000000' look-controls ></a-entity>
      </a-entity>
      
      <a-entity id='simpleEarth' position='0 0 0' geometry='primitive: sphere; radius: 3200000' material='color: blue'></a-entity>
      <a-entity id='latlongbox' geometry='primitive: box; width: 10; depth: 20; height: 10000' material='color: yellow' srf></a-entity>
      <!--a-entity geometry='primitive: box' srf='epsg: 3587, center: -117 40 0, UpToY: true'></a-entity-->
      
    </a-scene>
  </body>
</html>
