<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, SRF! • A-Frame</title>
    <meta name="description" content="Hello, SRF! • A-Frame">
    <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
    
  </head>
  <body>
  <script>
  //srf component
  //if object3d.geometry : project to geocentric
  //if geoposition: project geoposition to geocentric, geoposition separate component
  //  which adjust position, rotation, scale; do not touch geometry
  //if geocenter (is geotransform): project geocenter to geocentric, separate component
  //  which adjusts position, rotation, scale; do project geomtry
  // or ..
  // instead of separate components, type: geoposition|geotransform|geocoord, geocenter: long lat elev
  // and set rotation/matrix accordingly.
  </script>
    <a-scene>
    
      <a-entity camera wasd-controls look-controls position='2.5 2 5'></a-entity>
      
      <a-entity geometry='type: box' srf='epsg: 3587, center: -117 40 0, UpToY: true'></a-entity>
      
    </a-scene>
  </body>
</html>
